
<%="Karlie" + "Christina" + "Celine" + "Natalie" + "Cece" + "Joe" + "Pelumi" + "Hope"%> 

<br> 
<br> 
<%= 1 + 4 %> 


<p> Here is a random number<p><%=x=rand(0..100)%> 
<% if x % 2 == 0   %>
  <p>Even</p>
<% else %>
  <p>Odd</p>
<% end %>